tr, td, th{
  border: 2px solid black;
}

td, th {
  padding: 5px;
}

td:hover {
  background: lightblue;
  cursor: pointer;
}

td{
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin-bottom: 10px;
}

.display {
  height: 1em;
  width: 15em;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
